anyio==3.6.2
boto3==1.26.59
botocore==1.29.59
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
docutils==0.19
ecdsa==0.18.0
et-xmlfile==1.1.0
fastapi==0.89.1
Flask==2.2.2
fonttools==4.38.0
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
-e git+https://github.com/kesler20/jaguar_backend@b37fb962dc37acd95ae2077545aa5d89ab7ea1e6#egg=jaguar_backend
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.6.3
numpy==1.24.1
openpyxl==3.0.10
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
py-notifier==0.3.2
pyasn1==0.4.8
pydantic==1.10.4
pyparsing==3.0.9
pypiwin32==223
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.7.1
pywin32==305
PyYAML==6.0
requests==2.28.2
rsa==4.9
s3transfer==0.6.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.0
starlette==0.22.0
typing_extensions==4.4.0
urllib3==1.26.14
uvicorn==0.20.0
Werkzeug==2.2.2
win10toast==0.9
wincertstore==0.2
zipp==3.12.0
